
<form>
    <div class="modal-header">
        <h4 class="modal-title">Resultado</h4>
    </div>

    <div class="modal-body">
        <div class="container w-50 ">
            <div class="mt-2 text-center">
              <div class="form-group">
                <label>Ganancia</label>
                <p class="text-success"><b>${{options.obj.amount}}</b></p>
              </div>
              <div class="form-group">
                <label>Diferencia porcentual</label>
                <p class="text-info">{{options.obj.diferencia}}%</p>
              </div>
            </div>
          </div>
    </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" (click)="onCancel()">Cerrar</button>
        </div>
</form>