# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
PlazoFijoApp/dist
PlazoFijoApp/tmp
PlazoFijoApp/dist/out-tsc

# dependencies
PlazoFijoApp/node_modules
PlazoFijoWebService/node_modules

# IDE - VSCode
PlazoFijoApp/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

PlazoFijoWebService/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
PlazoFijoApp/.sass-cache
PlazoFijoApp/connect.lock
PlazoFijoApp/coverage
PlazoFijoApp/libpeerconnection.log
PlazoFijoApp/npm-debug.log
PlazoFijoApp/yarn-error.log
PlazoFijoApp/testem.log
PlazoFijoApp/typings

# System Files
.DS_Store
Thumbs.db
