<div class="container w-50 ">
  <form class="mt-2" (ngSubmit)="calculatePlazo(plazoForm.form.valid)" #plazoForm="ngForm">
    <div class="form-group">
      <label>Seleccionar Banco</label>
      <select class="form-control" required name="banco" (change)="getPlazoList(plazoFijo.id)" [(ngModel)]="plazoFijo.id">
        <option *ngFor="let b of bancoList" [ngValue]="b.id">{{b.banco}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Seleccionar monto</label>
      <input type="text" name="monto" numbersOnly required class="form-control text-right" [(ngModel)]="plazoFijo.amount">
    </div>
    <div class="form-group">
      <label>Seleccionar Plazo</label>
      <select class="form-control" required placeholder="Selecciona un plazo" name="plazo" [disabled]="plazoList.length == 0" [(ngModel)]="plazoFijo.plazoInfo">
        <option *ngFor="let p of plazoList" [ngValue]="p">{{p.plazo}} días</option>
      </select>
    </div>
    <button type="submit" class="btn btn-info mt-2">Calcular Plazo Fijo</button>
  </form>
</div>

<ng-template addPlazo>
  <app-plazo-dialog></app-plazo-dialog>
</ng-template>
